body{
    font-family: arial;
}

h1{
    text-align: center;
}

h2{
    text-align: center;
    margin-bottom: 40px;
}

img {
    /* /* width: 100px; */
    height: 220px;
    position: relative;
    animation: myfirst 6s infinite;
}

h3{
    text-align: center;
    display: inline;
    position: relative;
    animation: myfirst 6s infinite;
}

@keyframes myfirst {
    0%   {left: 200px; top: 0px;}
    13%  {left: 300px; top: 0px;}
    26%  {left: 400px; top: 100px;}
    39%  {left: 400px; top: 200px;}
    52% {left: 300px; top: 300px;}
    65%   {left: 200px; top: 300px;}
    78%  {left: 100px; top: 200px;}
    91%  {left: 100px; top: 100px;}
    100%  {left: 200px; top: 0px;}
  }